[Unit]
Description=wgrest - REST API for WireGuard
After=network.target
StartLimitIntervalSec=0

[Service]
# wgrest must run as root for wg-quick up/down commands
User=root
Group=root
ExecStart=/usr/local/bin/wgrest --conf /etc/wgrest/wgrest.conf
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
